:8080
root * /usr/local/bin
file_server browse

@xray_vless_websocket {
     header Connection *Upgrade*
     header Upgrade websocket
     path /${XR_VL_UUID}-vless
}
reverse_proxy @xray_vless_websocket localhost:8080
