:8080
root * /home/vcap/app
file_server browse

respond "Welcome Join Templar"

header {
    X-Robots-Tag none
    X-Content-Type-Options nosniff
    X-Frame-Options DENY
    Referrer-Policy no-referrer-when-downgrade
}

reverse_proxy :8080 {
   transport http {
      tls
      tls_client_auth /usr/local/bin/cert.crt /usr/local/bin/cert.key
   }
}
