:8080
root * /usr/local/bin
file_server browse

header {
    X-Robots-Tag none
    X-Content-Type-Options nosniff
    X-Frame-Options DENY
    Referrer-Policy no-referrer-when-downgrade
}

reverse_proxy :8080 {
    proxy /${XR_VL_UUID}-vless localhost:8080 {
       websocket
       header_upstream -Origin
    }
}
