:$PORT
root * /usr/share/caddy
file_server_browse

header {
    X-Robots-Tag none
    X-Content-Type-Options nosniff
    X-Frame-Options DENY
    Referrer-Policy no-referrer-when-downgrade
}

basicauth /${{ secrets.XR_UUID }}/* {
    ${{ secrets.XR_UUID }}
}

@websocket_xray_vless {
header Connection *Upgrade*
header Upgrade    websocket
path ${{ secrets.XR_WS_PATH_VLESS }}
}
